<h2>List of Users</h2>
<p><i>Sélectionnez un utiliasteur pour voir plus d'Informations le concernant</i></p>


<div class=flex>
  <ul class="users">
    <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
      <span class="badge">{{user.nom | uppercase}}</span> {{user.prenom}}
    </li>
  </ul>
  
  <div class=detail-users *ngIf="selectedUser">
  
    <h4>Informations concernant : {{selectedUser.nom | uppercase}} {{selectedUser.prenom}} </h4>
    <div><span>Age : </span>{{selectedUser.age}}</div>
    <div><span>Nationalité : </span>{{selectedUser.nationalite}}</div>
    <div><span>Métier : </span>{{selectedUser.metier}}</div>
    <div><span>Équipe : </span>{{selectedUser.team}}</div>
  
  
  </div>
</div>
