<h2>Liste des commandes</h2>
<p><i>Cliquez sur une commande pour en voir le détail</i></p>

<div class=flex>
  <ul class="orders">
    <li *ngFor="let order of orders"
      [class.selected]="order === selectedOrder"
      (click)="onSelect(order)">
      <span class="badge">{{order.numero_commande}}</span> {{order.nom}} 
    </li>
  </ul>

  <div class=detail-order *ngIf="selectedOrder">

    <h4>Détails de la commande n°{{selectedOrder.numero_commande}}</h4>
    <div><span>Nom du client : </span>{{selectedOrder.nom}}</div>
    <div><span>Quantité et tarif : </span>{{selectedOrder.nb_produits}} produit(s) pour un total de {{selectedOrder.tarif}}€</div>
    <div><span>Etat du paiement : </span>{{selectedOrder.paiement_effectue}}</div>


  </div>


</div>