<header>
  <div class=title>{{ title }}</div>
  <nav>
    <ul>
      <li><a routerLink="/accueil">Accueil</a></li>
      <li><a routerLink="/order">Commandes</a></li>
      <li><a routerLink="/user">Utilisateurs</a></li>
      <li><a routerLink="/product">Produits</a></li>
      <li><a routerLink="/contact-form">Formulaire de contact</a></li>
    </ul>
  </nav>
</header>




<div class=items>
  <router-outlet></router-outlet>
</div>
  






<footer> &copy; 2021 - {{ school }} - {{ name }} </footer>