<h2>Liste des produits</h2>
<p><i>Cliquez sur un produit pour en voir le détail</i></p>

<div class=flex>
  <ul class="products">
    <li *ngFor="let product of products"
      [class.selected]="product === selectedProduct"
      (click)="onSelect(product)">
      <span class="badge">{{product.name}}</span> 
    </li>
  </ul>
  
  <div class=detail-product *ngIf="selectedProduct">
  
    <h4>Plus d'informations :</h4>
    <div><span>ID : </span>{{selectedProduct.id}}</div>
    <div><span>Nom du produit : </span>{{selectedProduct.name | lowercase}}</div>
    <br />
    <div><span>Prix : </span>{{selectedProduct.prix}}€</div>
    <div><span>Description : </span>{{selectedProduct.description}}</div>
  
  </div>
</div>
